<div class="row">
  <div class="col-xs-7">
    <%= form_for(@item, namespace: 'admin', url: admin_items_path) do |f| %>
      <%= render 'layouts/errors', obj: @item %>

      <div class="field">
        <%= f.label :jacket_image, "ジャケット画像" %>
        <%= f.attachment_field :jacket_image, class: "col-xs-12", placeholder: "ジャケット画像" %>
      </div>

      <div class="field">
        <%= f.label :name, "商品名" %>
        <%= f.text_field :name, class: 'col-xs-12' %>
      </div>

      <div class="field">
        <%= f.label :price, "価格" %>
        <%= f.text_field :price, class: 'col-xs-12'%>
      </div>

      <div class="field">
        <%= f.label :stock, "在庫数" %>
        <%= f.text_field :stock, class: 'col-xs-12'%>
      </div>

      <div class="field">
        <%= f.label :artist_id, "アーティスト名" %><br>
        <%= f.collection_select :artist_id, Artist.all, :id, :name %>
      </div>

      <div class="field">
        <%= f.label :label_id, "レーベル名" %><br>
        <%= f.collection_select :label_id, Label.all, :id, :name %>
      </div>

      <div class="field">
        <%= f.label :genre_id, "ジャンル名" %><br>
        <%= f.collection_select :genre_id, Genre.all, :id, :name %>
      </div>

      <div class="field">
        <%= f.label :status, "販売状況" %><br>
        <%= f.select :status, Item.statuses.keys.to_a, {} %>
      </div>

      <div class="actions">
        <%= f.submit "保存", class: 'btn btn-primary'%>
      </div>
    <% end %>
    <%= form_for @artist, url: admin_make_artist_path do |artist| %>
      <div class="field">
        <%= artist.label :name, "アーティスト名" %>
        <%= artist.text_field :name, class: 'col-xs-12' %>
      </div>

      <div class="actions">
        <%= artist.submit "アーティスト保存", class: 'btn btn-primary'%>
      </div>
    <% end %>
    <%= form_for @label, url: admin_make_label_path do |label| %>
      <div class="field">
        <%= label.label :name, "レーベル名" %>
        <%= label.text_field :name, class: 'col-xs-12' %>
      </div>

      <div class="actions">
        <%= label.submit "レーベル保存", class: 'btn btn-primary'%>
      </div>
    <% end %>
    <%= form_for @genre, url: admin_make_genre_path do |genre| %>
      <div class="field">
        <%= genre.label :name, "ジャンル名" %>
        <%= genre.text_field :name, class: 'col-xs-12' %>
      </div>

      <div class="actions">
        <%= genre.submit "ジャンル保存", class: 'btn btn-primary'%>
      </div>
    <% end %>
  </div>
</div>
