<div class="row">
  <div class="col-xs-6">
    <%= render '/template/item_search', search: @search %>
  </div>

  <div class="col-xs-6">
    <%= render '/template/search' %>
  </div>

  <div class="item-index col-xs-12">
    <%= render 'layouts/items', items: @items %>
    <div class="page-wrapper">
      <%= paginate @items, class: "paginate" %>
    </div>

    <% if @all_ranks.present? %>
      <div class="favorite-ranking col-xs-12">
        <%= render '/template/favorite_ranking', all_ranks: @all_ranks %>
      </div>
    <% end %>
  </div>
</div>
