<h1>お問い合わせ一覧</h1>
<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th>氏名</th>
      <th>件名</th>
      <th>送信日時</th>
      <th>処理状態</th>
    </tr>
  </thead>
  <tbody>
    <% @contacts.each do |contact| %>
      <% user = User.with_deleted.find(contact.user_id) %>
      <tr>
      <% if User.with_deleted.find(contact.user_id).deleted? %>
        <td><%= user.last_name + user.first_name %></td>
        <td><%= contact.subject %></td>
      <% else %>
        <td>
          <%= link_to admin_user_path(user.id), data: {"turbolinks" => false}  do %>
            <%= user.last_name + user.first_name %>
          <% end %>
        </td>
        <td>
          <%= link_to admin_contact_path(contact) do %>
            <%= contact.subject %>
          <% end %>
        </td>
      <% end %>
        <td>
          <%= contact.created_at %>
        </td>
        <td>
          <% if contact.reply_contents %>
            送信済み
          <% else %>
            未送信
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
