<% sum_price = 0 %>

<% @carts.each do |cart| %>
  <% sum_price += (cart.item.price * cart.count) %>
<% end %>

<div class="payments-wrapper">
  <div class="order-form clearfix">
    <%= form_with(url: "confirm", method: :get, local: true) do |f| %>
      <h3>支払い方法</h3>

      <div class="how-to-pay">
        <%= f.select :how_to_pay, Order.how_to_pays.keys %>
      </div>

      <div class="select-shipping">
          <%= f.select :shipping_id, current_user.shippings.collect { |p| [ p.last_name + p.first_name + "：" + p.prefecture + p.city + p.building, p.id ] }, {:prompt => "配送先を選択"} %>
      </div>

      <%= f.submit "購入を確定する", class: "btn btn-primary col-xs-12" %>
    <% end %>
  </div>

  <%= render '/end_user/new_shipping_form' %>
</div>
