<%= render 'layouts/errors', obj: @contact %>

<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <div class="end_user-contact clearfix">
      <h1>お問い合わせフォーム</h1>
      <%= form_for @contact do |f| %>
        <h3>件名</h3>
        <%= f.text_field :subject, class: "text-box" %>
        <h3>本文</h3>
        <%= f.text_area :contacts, class: "text-box", size: "60x15" %>
        <br>
        <%= f.submit "送信", class:"contact-bottom btn btn-primary col-xs-12" %>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3"></div>
</div>
