<div class="items-wrapper clearfix">
  <% items.each do |item| %>
    <div class="item-block col-xs-4">
      <%= attachment_image_tag item, :jacket_image, fallback: "no_image.jpg", size: '50x50', class: "img-rounded img-responsive" %>
      <table class="item-info">
        <tr>
          <td>商品名</td>
          <td>
            <% if admin_signed_in? %>
              <%= link_to item.name, admin_item_path(item) %>
            <% else %>
              <%= link_to item.name, item_path(item) %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>アーティスト：</td>
          <td><%= item.artist.name %></td>
        </tr>
        <tr>
          <td>値段：</td>
          <td><%= item.price %></td>
        </tr>
        <tr>
          <td>ジャンル：</td>
          <td><%= item.genre.name %></td>
        </tr>
        <tr>
          <td>レーベル：</td>
          <td><%= item.label.name %></td>
        </tr>
        <tr>
          <td>在庫数：</td>
          <td><%= item.stock %></td>
        </tr>
        <tr>
          <td>販売状況：</td>
          <td><%= item.status %></td>
        </tr>

        <div id="favorites_buttons_<%= item.id %>">
          <%= render 'end_user/favorites/favorite', item: item %>
        </div>
      </table>
    </div>
  <% end %>
</div>
